* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    background: linear-gradient(90deg, #bd0f4d 50%, #cb2964 50%) no-repeat center center/cover;
    font-family: 'Nunito', sans-serif;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.app {
    height: 100vh !important;
}

.pos-absolute {
    position: absolute;
    top: 86%;
    left: 27%;
}

nav {
    
    margin: 0 auto;
}

nav ul li {
    padding: 0px 1.5rem;
    list-style: none;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.nav-img {
    height: 95px;
    margin-top: -30px;
}

.beauty {  
    box-shadow: -9px 0px 11px 3px rgba(0, 0, 0, 0.3);
    margin: 60px 0 40px 0;
}

.title-text {
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 5px;
    color: #fff;
}

.firstName {
    margin: 0 40px
}

#app {
    position: relative;
}

.title {
    top: 8%;
    position: absolute;
    left: 38%;
    letter-spacing: 4px;
    color: #fff;
    font-size: 20px;
}

.flex-column {
    flex-direction: column;
}

.social-navs {
    top: 40%;
    position: absolute;
    right: 3%;
}

.social-navs li {
    list-style: none;
    margin-bottom: 15px;
}

.social-navs i {
    font-size: 2rem;
    color: #fff;
}

@media(max-width: 900px) {
    nav {
        display: none;
    }

    .title {
        font-size: 15px;
        left: 25%;
    }
}